.fundo{
    border-radius: 2rem;
    background-color: rgb(109, 183, 252);
    width: 50%;
    height: 100%;
    border: 1;
    padding: 10px;
    left: 25%;
    position: relative;
}

h2{
    font-size: 2rem;
}

@media (max-width: 767px) {

    .fundo{        
        margin-top: 23px;        
        margin-left: -18%;
        width: 80%;
    }

}